

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="img">
                    <img src="../../assets/images/search-emploi.png" alt="">
                </div>
            
                <div class="body text-center">
                    <h4>Vous êtes à la recherche d'un emploi ?</h4>

                    <button type="button" class="btn btn-light">Trouver des emplois</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="img">
                    <img src="../../assets/images/poste-emploi.png" alt="">
                </div>
            
                <div class="body text-center">
                    <h4>Vous souhaitez recruter ?</h4>
                    <button type="button" class="btn btn-light" (click)="publier()">Publier une annonce</button>
                </div>
            </div>
        </div>
    </div>
</div>